<execute-when condition="((videos.playback_4_17.duration < 10 && (videos.playback_4_17.pos >= ((videos.playback_4_17.duration)*0.80))) || (videos.playback_4_17.duration > 10 && (videos.playback_4_17.pos >= ((videos.playback_4_17.duration)*0.90))))" action="setPageComplete()"></execute-when>

<execute-when condition="true"
  action="setPersistentVals({'maxChange':2, 'minConfidence':0,
  'minAmplitude':0, 'maxPitch': 900, 'offsetX': 15})"></execute-when>

<execute-when condition="true"
  action="setSessionVal('debugPitchParams', true)"></execute-when>

<style>
.instructions-col {
  padding-right: 60px;
  font-size: 24px !important;
}

.pitch-params input {
  width: 60px;
}

.sample-buttons button {
  font-size: 14px;
}
</style>

<div class="container">
  <br>
  <br>
  <div class="row lg-instruction-text center">Your Vocal Variety

  <!-- 
  <div ng-if="globals.devMode" class="sample-buttons">
    
    <button ng-click='setVoiceSample("page4_11", "TestTones2")'>Test Tones</button>

    <button ng-repeat="(key, value) in sampleUsers"
      ng-click='setVoiceSample("page4_11", value)'>{{key}}</button>
  </div>
  -->
  
  </div>
  
  <br>

  <div class="row playback-column-fullwidth clsWaveGraphFullWidth">
    <div class="clearfix"  ng-if="detectedBrowser == 'ie' || detectedBrowser == 'safari'">
      <wavanalysisgraphie
        type="pitches"
        playerId="playback_4_17"
        vrecorderId="page4_11"
        data="getLastRecording('page4_11')"
        min="40"
        max="350"
        pos="globals.videos.playback_4_17.pos"
        yaxis="Pitch Level"
        max-change="session.debugPitchParams ? globals.persistent.maxChange : 3"
        max-pitch="session.debugPitchParams ? globals.persistent.maxPitch : 900"
        min-confidence="session.debugPitchParams ? globals.persistent.minConfidence : .5"
        min-amplitude="session.debugPitchParams ? globals.persistent.minAmplitude : 0.1"
        offset-x="session.debugPitchParams ? globals.persistent.offsetX : 5"
        ></wavanalysisgraphie>
    <br>        
    </div>
    <div class="clearfix"  ng-if="detectedBrowser != 'ie' && detectedBrowser != 'safari'">
      <wavanalysisgraph
        type="pitches"
        playerId="playback_4_17"
        vrecorderId="page4_11"
        data="getLastRecording('page4_11')"
        min="40"
        max="350"
        pos="globals.videos.playback_4_17.pos"
        yaxis="Pitch Level"
        max-change="session.debugPitchParams ? globals.persistent.maxChange : 3"
        max-pitch="session.debugPitchParams ? globals.persistent.maxPitch : 900"
        min-confidence="session.debugPitchParams ? globals.persistent.minConfidence : .5"
        min-amplitude="session.debugPitchParams ? globals.persistent.minAmplitude : 0.1"
        offset-x="session.debugPitchParams ? globals.persistent.offsetX : 5"
        ></wavanalysisgraph>
        <br>        
    </div>
    <div class="clearfix">
      <div style="margin-left: 50px;width: 875px;text-align: right;">
        {{globals.videos.playback_4_17.pos || '0' | secondsToTime}} / {{ globals.videos.playback_4_17.duration || 0 | secondsToTime}}
      </div>
    </div>
    <div class="clearfix">
      <div class="playback-column" style="width:70px;float:left;" >
          <!-- <div ng-class="{'video-playback-btn': !globals.wavePlaying, 'video-playback-pausebtn': globals.wavePlaying}" ng-click="playWaveSurfer()">
          </div> -->
            <decker-video class="{{globals.persistent.peripheral == 'A'?'playback-controls-only':'playback-user-vid'}} playback-user-vid-vol" autoplay="false" video="getLastRecording('page4_11')"
            id="playback_4_17"
            aspectratio="auto"></decker-video>
        </div>

        <div class="col-xs-7 xs-instruction-text instructions-col pitch-column-fullwidth widowText">
          <p>Play back your recording.<p>     
          <p>Tips: Look at the graph to see your vocal variety. Does your voice show highs and lows?</p>
        </div>
    </div>
  </div>  
  
  <style>
    .pitch-params input {
      width: 60px;
    }
  </style>
  
  <!-- 
  <div style="position:absolute;bottom:0" class="pitch-params" ng-if="globals.devMode">
    Max Change:<input ng-model="globals.persistent.maxChange"></input>
    Min Conf:<input ng-model="globals.persistent.minConfidence"></input>
    Min Volume:<input ng-model="globals.persistent.minAmplitude"></input>
    Max Pitch:<input ng-model="globals.persistent.maxPitch"></input>
    X Offset:<input ng-model="globals.persistent.offsetX"></input>
  </div>
  -->
</div>


<nextbutton></nextbutton>
