<!doctype html>
<html id="ng-app" ng-app="deckerApp">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta charset="utf-8">
    <title>Decker Digital : CTI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/vendor-b537292a2b.css">
    <link rel="stylesheet" href="styles/app-31d2aaabd5.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Lato:900" rel="stylesheet" type="text/css">
</head>

<body style="display: none" ng-cloak="" data-ng-controller="MainController" class="{{stateToPageMap[$state.current.url].bodyClass}}" oncontextmenu="return false;">
    <div class="full-view cannot-play-course" ng-show="! meetsFlashRequirements && ! isMobile">
        <p>We're sorry, but the version of Flash installed on your computer does not meet the requirements of this course.</p>
        <p>Installed: {{FlashDetect.major}}.{{FlashDetect.minor}}</p>
        <p>Required:11.0</p><b>Please <a href="https://get.adobe.com/flashplayer/">click here</a> to be taken to the Flash Player installer.</b></div>
    <div class="full-view cannot-play-course" ng-show="isMobile">
        <p>Unfortunately, this course is not yet supported on your device. Please try this course on a desktop computer.</p>
    </div>
    <div class="full-view cannot-play-course" style="width: 70%; margin: 0 auto;text-align: center" ng-show="!isSupportedBrowser"><img class="info_page_logo" src="app/images/UI/SVGs/DeckerDigital_logo.svg">
        <p class="info_msg_browser">The course is not yet supported on <span style="text-transform: capitalize;">{{ openbrowser | capitalize }}</span>. Please copy and paste your Unique Course Link into your Chrome browser. You can download the latest Chrome browser version <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">here</a>.</p>
    </div>
    <div class="full-view cannot-play-course" style="width: 70%; margin: 0 auto;text-align: center" ng-show="(isSupportedBrowser && isVaildToken == 'Processing')"><img class="info_page_logo" src="app/images/UI/SVGs/DeckerDigital_logo.svg">
        <p class="info_msg_browser">Welcome to Decker Digital: Communicate to Influence.
            <br>We’re validating your license and unique user information.</p>
    </div>
    <div class="full-view cannot-play-course" style="width: 70%; margin: 0 auto;text-align: center" ng-show="(isSupportedBrowser && isVaildToken == 'New')"><img class="info_page_logo" src="app/images/UI/SVGs/DeckerDigital_logo.svg">
        <p class="info_msg_browser">Hi! We’re so glad you’re joining us for
            <br>Decker Digital: Communicate To Influence.
            <br>Let’s get started! All you need to do is register
            <br>your computer by clicking on the button below.
            <br>
            <div style="font-size:16px;">Registered Device: {{registeredDevice}}</div>
            <br>
            <br>
            <div style="position: relative;text-align:center;clear: both;width:300px;margin: auto;">
                <div class="register-device-button fadein fadeout" ng-click="registerDevice()" style="position: relative;float:left"></div><a href="#" ng-click="cancelDevice()">Cancel</a></div>
        </p>
    </div>
    <div class="full-view cannot-play-course" style="width: 70%; margin: 0 auto;text-align: center" ng-show="(isSupportedBrowser && isVaildToken == 'InvalidToken')"><img class="info_page_logo" src="app/images/UI/SVGs/DeckerDigital_logo.svg">
        <p class="info_msg_browser">This license is not valid. Please contact <a href="mailto:support@decker.com">support@decker.com</a> or call (844) 897-2389 for more details.</p>
    </div>
    <div class="full-view cannot-play-course" style="width: 70%; margin: 0 auto;text-align: center" ng-show="(isSupportedBrowser && isVaildToken == 'Expired')"><img class="info_page_logo" src="app/images/UI/SVGs/DeckerDigital_logo.svg">
        <p class="info_msg_browser">Wow! It’s been a year already! Your license has now expired. Please contact <a href="mailto:support@decker.com">support@decker.com</a> or call (844) 897-2389 for renewal information for Decker Digital: Communicate to Influence.</p>
    </div>
    <div class="full-view cannot-play-course" style="width: 70%; margin: 0 auto;text-align: center" ng-show="(isSupportedBrowser && isVaildToken == 'LimitCrossed')"><img class="info_page_logo" src="app/images/UI/SVGs/DeckerDigital_logo.svg">
        <p class="info_msg_browser">You can access this course from the original device on which you began the course. That’s where we’re saving all of your progress and work to date. Please contact <a href="mailto:support@decker.com">support@decker.com</a> or call (844) 897-2389 for more details.</p>
    </div>
    <div class="full-view cannot-play-course" style="width: 70%; margin: 0 auto;text-align: center" ng-show="(isSupportedBrowser && isVaildToken == 'AccessDenied')"><img class="info_page_logo" src="app/images/UI/SVGs/DeckerDigital_logo.svg">
        <p class="info_msg_browser">So glad you’re trying to join us!
            <br>You do not currently have a license to access this course. We’d love for you to join us, though! Please head to <a href="http://www.decker.com/digital">www.decker.com/digital</a> to purchase a license and get started. You can also contact <a href="mailto:support@decker.com">support@decker.com</a> or call (844) 897-2389 for more details.</p>
    </div>
    <div class="full-view" ng-show="isSupportedBrowser && isVaildToken == 'Verified'">
        <div ng-show="(globals.persistent.tempLoggedIn && globals.devMode) || !isFinalEnv" style="position: absolute; right: 300px; top: 5px; z-index: 100; width: 140px;">
            <div>
                <button ng-click="debug_reset()" style="width: 140px">Reset Progress</button>
                <br>
                <button ng-click="debug_next()" style="margin-top: 4px; width: 140px">Force Next Page</button>
            </div>
        </div>
        <!--[if lt IE 10]>
 <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
 <![endif]-->
        <div ng-show="globals.persistent.tempLoggedIn || !isFinalEnv">
            <ng-include ng-if="viewStates.printGrid" src="'app/partials/mygridprint.html'"></ng-include>
            <div style="position: absolute; left: 0; top: 0; width: 50%; height: 100px; z-index: 10000; display: none">{{viewStates}}</div>
            <div style="position: absolute; width: 100%; height: 61px">
                <ng-include src="'app/partials/topbar.html'"></ng-include>
            </div>
            <div class="main-container" ng-class="{'lab' : isLab}">
                <div class="content-container">
                    <div class="lab-indicator" ng-show="isLab">LAB</div>
                    <div class="top-lab-bar" ng-show="isLab"></div>
                    <div class="bottom-lab-bar" ng-show="isLab"></div>
                    <ng-include ng-if="viewStates.recorderSetup" src="'app/partials/recorder-setup.html'"></ng-include>
                    <div ng-if="! viewStates.recorderSetup" ui-view="" class="page-holder"></div>
                </div>
                <div ng-show="(globals.currentpage != '/1_1_04_c_video' && globals.currentpage != '/1_1_04_a_video' && globals.currentpage != '/1_1_04_n_video')">
                    <div class="fadein fadeout workstation-tab-highlighted" ng-show="((!globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroVideo.pos > 40 && globals.videos.workStnIntroVideo.pos < 42)) && (globals.currentpage == '/1_1_04_c_video' || globals.currentpage == '/1_1_04_a_video'))">
                        <button ng-click="openWorkstation()"></button>
                    </div>
                    <div class="fadein fadeout workstation-tab-highlighted" ng-show="((globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroNVideo.pos > 18 && globals.videos.workStnIntroNVideo.pos < 20)) && globals.currentpage == '/1_1_04_n_video')">
                        <button ng-click="openWorkstation()"></button>
                    </div>
                    <div class="fadein fadeout workstation-tab" ng-hide="((!globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroVideo.pos > 40 && globals.videos.workStnIntroVideo.pos < 42) && (globals.currentpage == '/1_1_04_c_video' || globals.currentpage == '/1_1_04_a_video')) || (globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroNVideo.pos > 18 && globals.videos.workStnIntroNVideo.pos < 20) && globals.currentpage == '/1_1_04_n_video') || (viewStates.isWorkspaceOpen || viewStates.isShowingTranscript))">
                        <button ng-click="openWorkstation()"></button>
                    </div>
                </div>
            </div>
            <div class="main-container main-container-btn" ng-class="{'lab' : isLab}" ng-show="(globals.currentpage == '/1_1_04_c_video' || globals.currentpage == '/1_1_04_a_video' || globals.currentpage == '/1_1_04_n_video')">
                <div class="fadein fadeout workstation-tab-highlighted" ng-click="openWorkstation()" ng-show="((!globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroVideo.pos > 40 && globals.videos.workStnIntroVideo.pos < 42)) && (globals.currentpage == '/1_1_04_c_video' || globals.currentpage == '/1_1_04_a_video'))"></div>
                <div class="fadein fadeout workstation-tab-highlighted" ng-show="((globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroNVideo.pos > 18 && globals.videos.workStnIntroNVideo.pos < 20)) && globals.currentpage == '/1_1_04_n_video')">
                    <button ng-click="openWorkstation()"></button>
                </div>
                <div class="fadein fadeout workstation-tab" ng-hide="((!globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroVideo.pos > 40 && globals.videos.workStnIntroVideo.pos < 42) && (globals.currentpage == '/1_1_04_c_video' || globals.currentpage == '/1_1_04_a_video')) || (globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroNVideo.pos > 18 && globals.videos.workStnIntroNVideo.pos < 20) && globals.currentpage == '/1_1_04_n_video') || (viewStates.isWorkspaceOpen || viewStates.isShowingTranscript))">
                    <button ng-click="openWorkstation()"></button>
                </div>
            </div>
            <div class="workspace-container" ng-class="{'workspace-container-highlight': (((!globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroVideo.pos > 40 && globals.videos.workStnIntroVideo.pos < 42) && (globals.currentpage == '/1_1_04_c_video' || globals.currentpage == '/1_1_04_a_video')) || (globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroNVideo.pos > 18 && globals.videos.workStnIntroNVideo.pos < 20) && globals.currentpage == '/1_1_04_n_video')) && (viewStates.isWorkspaceOpen || viewStates.isShowingTranscript))}">
                <div class="workspace-border" data-ng-controller="WorkspaceController">
                    <button class="close-workstation" ng-show="! viewStates.isShowingTranscript" ng-click="closeWorkstation()"></button>
                    <button class="close-transcript" ng-show="viewStates.isShowingTranscript" ng-click="closeTranscript()"></button>
                    <button class="switch-to-workstation" ng-show="viewStates.isShowingTranscript" ng-click="openWorkstation()" ng-class="{'workspace-container-highlight': (((!globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroVideo.pos > 40 && globals.videos.workStnIntroVideo.pos < 42) && (globals.currentpage == '/1_1_04_c_video' || globals.currentpage == '/1_1_04_a_video')) || (globals.videos.workStnIntroNVideo && (globals.videos.workStnIntroNVideo.pos > 18 && globals.videos.workStnIntroNVideo.pos < 20) && globals.currentpage == '/1_1_04_n_video')) && ( viewStates.isShowingTranscript))}"></button>
                    <div style="width: 100%" ng-show="! viewStates.isShowingTranscript">
                        <tabset>
                            <tab heading="My Notepad" active="viewStates.wsNotepadActive" select="openMyNote()" deselect="closeMyNote()">
                                <ng-include src="'app/partials/notepad.html'"></ng-include>
                            </tab>
                            <tab heading="My Grid&#8482;" active="viewStates.wsMyGridActive" select="openMyGrid()" deselect="closeMyGrid()">
                                <ng-include src="'app/partials/mygrid.html'"></ng-include>
                            </tab>
                            <tab heading="{{(globals.persistent.peripheral == 'A') ? 'My Audios' : 'My Videos'}}" active="viewStates.wsMyVideos" select="openMyVideo()" deselect="closeMyVideo()">
                                <div id="tabDynamicMyvideos"></div>
                            </tab>
                            <tab heading="My Resources" active="viewStates.wsResources">
                                <ng-include src="'app/partials/resources.html'"></ng-include>
                            </tab>
                        </tabset>
                    </div>
                    <div style="width: 100%" class="transcript-container" ng-show="viewStates.isShowingTranscript" ng-controller="TranscriptController">
                        <div class="transcript-content" ng-bind-html="transcriptHtml"></div>
                    </div>
                </div>
            </div>
            <ng-include src="'app/partials/navbar.html'"></ng-include>
            <ng-include src="'app/partials/modules.html'"></ng-include>
            <div class="error-shield animate-show ng-hide" ng-show="errorShown == true">
                <div><pre>{{error}}</pre>
                    <input class="btn btn-primary" type="submit" value="CLOSE" data-ng-click="errorShown = false;">
                </div>
            </div>
        </div>
        <a href="#" id="downloadlink" style="display:none"></a>
        <div class="overlay center" ng-show="! globals.persistent.tempLoggedIn && isFinalEnv">
            <div class="inner">
                <h2>Log in to continue:</h2>
                <p>User name:</p>
                <input data-ng-model="loginUsername" ng-enter="onLogin()" style="color: black">
                <br>
                <br>
                <p>Password:</p>
                <input type="password" data-ng-model="loginPassword" ng-enter="onLogin()" style="color: black">
                <br>
                <br>
                <input class="btn btn-primary" type="submit" data-ng-click="onLogin()">
            </div>
        </div>
        <script src="scripts/vendor-5ee434f036.js"></script>
        <script>
            jwplayer.key = 'CdMY58Jz32Kn0Ni1dyNhGKWnBOowCDMM5M3TBQ==';
        </script>
        <script src="scripts/app-49e7b34516.js"></script>
    </div>
    <iframe id="faq-frame" style="display:none" src="app/images/DeckerFAQ/DeckerFAQ.html?t4" onload="onFaqLoaded()"></iframe>
    <iframe id="transcript-frame" style="display:none" src="app/images/Transcript/DeckerDigitalFullTranscript.html?t4" onload="onTranscriptLoaded()"></iframe>
    <ng-include src="'app/partials/flashRecorderReference.html'"></ng-include>
</body>

</html>