<execute-on-change
  condition="globals.session.percentageTotal"
  action="setPageComplete(globals.session.percentageTotal == 100)"></execute-on-change>

<div class="integrated-notepad" ng-controller="PercentageController">

  <div class="entry">
    <div class="header">Where do you spend your time preparing?</div>

    <div class="prompt clearfix">
      <input auto-focus name="input" ng-model="persistent.percent2_9_3" numbers-only style="float: left;margin-left: 5px;margin-right: 5px;">
      <span style="float: left;margin-left: 5px;background: transparent;">% Verbal</span>
    </div>

    <div class="prompt clearfix">
      <input name="input" ng-model="persistent.percent2_9_2" numbers-only style="float: left;margin-left: 5px;margin-right: 5px;">
      <span style="float: left;margin-left: 5px;background: transparent;">% Vocal</span>
    </div>

    <div class="prompt clearfix">
      <input name="input" ng-model="persistent.percent2_9_1" numbers-only style="float: left;margin-left: 5px;margin-right: 5px;">
      <span style="float: left;margin-left: 5px;background: transparent;">% Visual</span>
    </div>
    
    <p ng-class="{ 'lg-instruction-text': globals.canNextPage, 'lg-error-text': !globals.canNextPage }">
      Total:&nbsp;&nbsp;&nbsp;{{globals.session.percentageTotal}}%
    </p>
  </div>

  <div class="instructions fadein fadeout nudge-text"
  ng-show="globals.session.percentageTotal != 100">
  Please enter percentages that add up to 100%.
  </div>
</div>

<nextbutton save-message="true" save-message-title="Got it."></nextbutton>
