<h1>Examples of page authoring features</h1>

<style>
.recipe-list a {
  display: block;
}
</style>
<div class="recipe-list">
<a href="" ng-click="go('nextpage')">Next page</a>
<a href="" ng-click="go('gopage')">Go to named page</a>
<a href="" ng-click="go('simple_video')">Video player </a>
<a href="" ng-click="go('video_synching')">Video player with synchronized elements</a>
<a href="" ng-click="go('persistinput')">Save user input</a>
<a href="" ng-click="go('playvideorange')">Video player with time range</a>
<a href="" ng-click="go('playaudio')">Audio player</a>
<a href="" ng-click="go('hideonclick')">Hide elements on click</a>
</div>