
<show-source>
  <p>User input that is automatically saved in the LMS:</p>
  <input ng-model="persistent.recipe4" type="text"></input>
  <p>(refresh the browser, and user input should be retained)</p>  
  <!--
  <input ng-model="persistent.recipe4" type="text"></input>
  -->

  <aside id="annotation">
    <section>ng-model="persistent.recipe4"</section>
    <details>Persist the user input into persistent.recipe4
    </details>
  </aside>

</show-source>

<input class="submit" type="submit" value="Next Page" data-ng-click="next()">
