<execute-when
  condition="(persistent.notepad3_05A1.length > 0 && persistent.notepad3_05A2.length > 0)"
  action="setPageComplete()"></execute-when>

<!-- <execute-when
  condition="persistent.notepad3_05A.length < 2"
  action="setPageComplete(0)"></execute-when>
 -->
<div class="integrated-notepad integrated-notepad-higher">
  <div class="entry">
    <div class="header">How did it feel to dart your eyes quickly?</div>
    <textarea auto-focus maxlength="100" ng-trim="false" spellcheck="true" ng-model="persistent.notepad3_05A1" rows="2"></textarea>
    <span class="N-warning_msg1"
        ng-show="persistent.notepad3_05A1.length > 94">
        {{100 - persistent.notepad3_05A1.length}}
        character{{persistent.notepad3_05A1.length > 98 ? '' : 's'}} left </span>
  </div>
  
  <div class="entry">
    <div class="header">Did it feel more like eye communication when you had to look for 5 full seconds? Describe in a few words.</div>
    <textarea maxlength="100" ng-trim="false" spellcheck="true" ng-model="persistent.notepad3_05A2" rows="2"></textarea>
    <span class="N-warning_msg2"
        ng-show="persistent.notepad3_05A2.length > 94">
        {{100 - persistent.notepad3_05A2.length}}
        character{{persistent.notepad3_05A2.length > 98 ? '' : 's'}} left </span>
  </div>
</div>

<nextbutton save-message="true"></nextbutton>
