<execute-when condition="true" action="setPageComplete()"></execute-when>
<execute-when condition="true" action="setPageModel('allowModelInput', false)"></execute-when>
<execute-when condition="true" action="setPageModel('modelInput', '')"></execute-when>

<div class="module-landing-page">
  <div class="module-start-graphic"></div>
  <div class="text-col">
    <h1>MODULE 1:</h1>
    <h2>Getting Started </h2>
  </div>
</div>

<button
  ng-show="globals.devMode && ! pageModel.allowModelInput"
  ng-click="setPageModel('allowModelInput', true)">Enter user data</button>
  
  <button ng-repeat="(key, value) in sampleUsers"
    ng-show="false && globals.devMode"
    ng-click="importUserData(value); next('4_14_CA-lab-oscilloscope');">{{key}}</button>
  
<textarea
  ng-show="globals.devMode && pageModel.allowModelInput"
  ng-model="pageModel.modelInput"
  style="position:absolute;left:4px;top:40px;width:1018px;height: 500px"></textarea>
<button
  ng-show="globals.devMode && pageModel.allowModelInput"
  style="position:absolute;left:4px;top:4px"
  ng-click="importUserData(pageModel.modelInput); setPageModel('allowModelInput', false);">Close</button>

<nextbutton></nextbutton>

<!-- <div
  class="next-button fadein fadeout"
    ng-disabled="! globals.canNextPage" data-ng-click="checkCemaraAndMic()" ng-show="! showingSaveMsg">
</div> -->