<execute-when condition="persistent.audienceChoice != undefined" action="setPageComplete()"></execute-when>

<div class="page_7_02_1">
  <div class="instructions">
    Choose your own adventure!<br> To which audience would you like
    to speak?
  </div>


  <div class="choices-row">
    <img
      src="app/images/audience/One-on-one-audience.jpg"
      ng-class="{'active':(persistent.audienceChoice == 0)}"
      ng-click="changeAudienceChoice(0,'page7_03')"
    ></img>
    
    <img
      src="app/images/audience/Conference call audience.jpg"
      ng-class="{'active':(persistent.audienceChoice == 1)}"
      ng-click="changeAudienceChoice(1,'page7_03')"
    ></img>
    
    <img
      src="app/images/audience/Large-audience.jpg"
      ng-class="{'active':(persistent.audienceChoice == 2)}"
      ng-click="changeAudienceChoice(2,'page7_03')"
    ></img>
  </div>

  <nextbutton></nextbutton>